---
import { getConfig, getDefaultLanguage } from '@galactiks/config';
import { getHomePage, getSiteNavigationElement } from '@galactiks/explorer';

type Props = { inLanguage?: string };
const { inLanguage } = Astro.props;

const inLanguageOrDefault = inLanguage || getDefaultLanguage();
const { name } = getConfig();

const navigationElement = await getSiteNavigationElement({
  inLanguage: inLanguageOrDefault,
});
const homepage = await getHomePage({ inLanguage: inLanguageOrDefault });
---

<header>
  {
    Array.isArray(navigationElement?.itemListElement) &&
      navigationElement.itemListElement.length > 0 && (
        <nav aria-label="Global">
          {typeof homepage === 'object' ? (
            <a href={homepage.path}>
              <span>{name}</span>
            </a>
          ) : (
            <div>
              <span>{name}</span>
            </div>
          )}

          {navigationElement.itemListElement.map((element) => (
            <a href={element.path || element.url}>{element.name}</a>
          ))}
        </nav>
      )
  }
</header>
