---
import Container from "@components/Container.astro";
import Logo from "@components/Logo.astro";

const menuitems = [
  {
    title: "Features",
    path: "#",
    children: [
      { title: "Action", path: "/" },
      { title: "Another action", path: "#" },
      { title: "Dropdown Submenu", path: "#" },
      { title: "404 Page", path: "/404" },
    ],
  },
  {
    title: "Pricing",
    path: "/pricing",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg"><Logo /></a>
    </div>
    <div class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-3">
        {
          menuitems.map((item, index) => (
            <li>
              <a
                href={item.path}
                class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900"
              >
                {item.title}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </header>
</Container>
